.checkbox {
  width: 24px;
  height: 24px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
}

.checkboxActive {
  border: 8px solid #ff7e1d;
}

.toggleButton {
  max-width: 155px;
  display: flex;
  gap: 12px;
  align-items: center;
  background: inherit;
  border: none;
  cursor: pointer;
}

.toggleButton:hover .checkbox {
  border: 8px solid #ff7e1d;
}

.buttonText {
  color: #fff;
  font-size: clamp(0.625rem, 0.5417rem + 0.3704vw, 0.875rem);
  font-family: 'Inter', sans-serif;
}
