.card {
    width: clamp(14.375rem, 13.25rem + 5vw, 17.75rem);
    background: #131415;
    border-radius: 8px;
    padding: 10px 0;
}

.bigCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    max-height: 180px;
}

.smallCardWrapper {
    max-height: 90px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.weatherWrapper {
    align-items: center;
}

.title {
    font-weight: 800;
}

.titleBig {
    font-size: clamp(0.75rem, 0.5833rem + 0.7407vw, 1.25rem);
}

.titleSmall {
    font-size: clamp(0.625rem, 0.5rem + 0.5556vw, 1rem);
}

.valueTextBig {
    font-size: clamp(1.625rem, 1.4167rem + 0.9259vw, 2.25rem);
}

.valueTextSmall {
    font-size: clamp(1rem, 0.875rem + 0.5556vw, 1.375rem);
}

.unitsTextBig {
    font-size: clamp(0.625rem, 0.5rem + 0.5556vw, 1rem);
}

.unitsTextSmall {
    font-size: clamp(0.625rem, 0.5417rem + 0.3704vw, 0.875rem);
}

.smallCardSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texboxSmall {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.textboxBig {
    text-align: center;
}

.invisible {
    display: none;
}



