.input {
    width: 100%;
    height: 20px;
    padding: 0 16px;
    font-size: clamp(0.5625rem, 0.4792rem + 0.3704vw, 0.8125rem);
    background: #131415;
    border: 1px solid #2F3035;
    border-radius: 5px;
    font-family: inherit;
    color: #fff;
    font-weight: 700;
}

.input::placeholder {
    color: #A5A3A9;
    font-size: clamp(0.5625rem, 0.4792rem + 0.3704vw, 0.8125rem);
    font-weight: 400;
}

.input:hover {
    border: 1px solid #fff;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}