.slider {
    height: 4px;
    background: #3F3F40;
    border-radius: 1px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

.sliderBig {
    width: clamp(9.375rem, 8.4167rem + 4.2593vw, 12.25rem);
}

.sliderSmall {
    width: clamp(6.75rem, 6.4792rem + 1.2037vw, 7.5625rem);
}   

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #FF7E1D;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.invisible {
    display: none;
}